@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #7e6641;
    --secondary-color: #D68606;
    --tertiary-color: #FFCB83;
    --quaternary-color: #FFFAFA;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--tertiary-color);
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: var(--secondary-color);
}

.main-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
}

.rigth-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--quaternary-color);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    font-weight: 800;
}

.textfild {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfild > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfild > label {
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-registro {
    margin: 0;
}

.btn-login {
    margin-top: 50px;
}

.btn-login, .btn-registro {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--quaternary-color);
    background: var(--secondary-color);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.btn-login:hover, .btn-registro:hover {
    background-color: var(--primary-color);
}

.left-login-image {
    width: 43vw;
}

.card-login > p {
    color: var(--secondary-color);
    font-weight: 300;
}


.card-login > a {
    color: var(--secondary-color);
    font-weight: 300;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 653px) {
    .main-login {
        flex-direction: column;
        width: 100%;

    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;

    }

    .right-login {
        width: 100%;
        height: auto;

    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 1000px;
    }
}